.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: var(--min-width);
  margin-bottom: 150px;
}

.home__h1 {
  margin: 1.8rem 0 2rem 0;
  font-weight: bold;
  font-size: var(--heading-size);
}

.home__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home__section__keyword {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__section__keyword__slider {
  width: 700px;
  margin-bottom: 50px;
}

.home__section__keyword__category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__section__keyword__category__title {
  margin-bottom: 20px;
  font-size: x-large;
}

.home__section__keyword__category__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__section__keyword__category__list__items {
  cursor: pointer;
  padding: 5px;
  margin: 5px;
  border: 1px solid black;
  background-color: whitesmoke;
  border-radius: 20px;
}

.home__section__keyword__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

.home__section__keyword__rating__title {
  margin-bottom: 20px;
  font-size: x-large;
}

.home__section__keyword__rating__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__section__keyword__rating__list__items {
  cursor: pointer;
  padding: 5px;
  margin: 5px;
  border: 1px solid black;
  background-color: whitesmoke;
  border-radius: 20px;
}

.home__paination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home__paination__items {
  display: inline-block;
  margin: 50px 0;
}

.home__paination__links {
  color: black;
  text-decoration: none;
  padding: 10px;
  border: 1px solid black;
  border-left: none;
}

.home__paination__links--first {
  border-left: 1px solid black;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.home__paination__links--last {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.home__paination__links--link {
  background-color: #fa9c23;
}
/*# sourceMappingURL=Home.style.css.map */