.forgotPassword {
  min-width: var(--min-width);

  display: flex;
  flex-direction: column;
  border: 2px solid green;
  align-items: center;
  justify-content: center;
  height: var(--height);

  &__title {
    margin-bottom: 50px;
  }

  &__form {
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    height: fit-content;
    border-radius: 5px;
    background-color: whitesmoke;
    padding: 10px;
  }
}
