.productReviewsAdmin {
  display: flex;
  min-width: var(--min-width);
  min-height: var(--height);
  gap: 10px;

  &__container {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    &__title {
      margin: 30px 0;
      font-size: 3rem;
      font-weight: bold;
    }
    &__body {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      min-height: 100vh;
      min-width: 70vw;
      &__form {
        display: flex;
        flex-direction: column;
      }

      &__noReviews {
        text-align: center;
      }
      &__table {
        &__delete {
          padding: 5px;
          background-color: rgb(255, 0, 98);
          cursor: pointer;
          border-radius: 10px;
          border: none;
          height: 45px;

          &:hover {
            background-color: red;
            border: 1px solid black;
          }

          &__icon {
            width: 30px;
          }
        }
      }
    }
  }
}
