.sidebar {
  position: relative;

  &__toggle {
    position: absolute;
    top: 0;
    left: 15px;
    z-index: 100;
    cursor: pointer;
    border-radius: 5px;

    &__active {
      right: 0px;
      left: unset;
    }

    &__icons {
      width: 40px;
      display: flex;
      justify-content: flex-end;
      border-radius: 10px;

      &--close {
        background-color: red;
      }

      &--open {
        background-color: green;
      }
    }
  }

  &__container {
    width: 65px;
    z-index: 90;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    overflow: hidden;
    transition: 0.2s;
    background: var(--layout-background);

    &__menu {
      margin-top: 50px;
      &__options {
        padding-left: 0.5rem;
        &__list {
          width: 100%;
          margin-bottom: 1.7rem;
          padding-top: 1rem;
          padding-bottom: 1rem;

          &:hover {
            background-color: blue;
            border-radius: 30px 0 0 30px;
          }

          &__link {
            outline: none;
            display: flex;
            align-items: center;
            &__image {
              width: 30px;
              padding-left: 1rem;
              filter: invert(100%);
            }
            &__title {
              padding-left: 1rem;
              color: whitesmoke;
              font-size: 1.1rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .sidebar {
    &__toggle {
      left: unset;
    }
    &__container {
      width: 0;
    }
  }
}

// .sidebar {
//   position: relative;
//   min-height: 100vh;

//   &__toggle {
//     position: absolute;
//     top: 0px;
//     left: 0px;
//     width: 40px;
//     height: 40px;
//     background: #232f3e;
//     cursor: pointer;
//     z-index: 100;

//     &__active {
//       background: #ea1d63;

//       &::after {
//         content: "<";
//         position: absolute;
//         width: 100%;
//         height: 100%;
//         line-height: 40px;
//         font-size: 40px;
//         color: white;
//         text-align: center;
//       }
//     }

//     &::before {
//       content: ">";
//       position: absolute;
//       width: 100%;
//       height: 100%;
//       line-height: 40px;
//       font-size: 40px;
//       color: white;
//       text-align: center;
//     }
//   }

//   &__navbar {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 65px;
//     bottom: 0;
//     background-color: #232f3e;
//     overflow: hidden;
//     transition: 0.5s;

//     &:hover {
//       width: 300px;
//     }

//     &__options {
//       position: absolute;
//       top: 50px;
//       left: 0;
//       width: 100%;

//       &__list {
//         position: relative;
//         width: 100%;
//         list-style: none;
//         margin: 15px 0;

//         &__links {
//           position: relative;
//           width: 100%;
//           display: flex;
//           align-items: center;

//           text-decoration: none;
//           color: white;

//           &:hover {
//             background: whitesmoke;
//             color: black;
//           }

//           &__icon {
//             position: relative;
//             display: block;
//             max-width: 60px;
//             line-height: 60px;
//             text-align: center;
//           }

//           &__text {
//             padding: 0 0 0 10px;
//             text-align: center;
//           }
//         }
//         &__innerOptions__list__links {
//           display: flex;
//           align-items: center;
//         }
//       }
//     }
//   }
// }

// @media (max-width: 900px) {
//   .sidebar__navbar {
//     left: -60px;
//     &__active {
//       left: 0px;
//       width: 100%;
//     }
//   }
// }
