.sidebar {
  position: relative;
  min-height: 100vh;

  &__toggle {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 40px;
    height: 40px;
    background: #232f3e;
    cursor: pointer;
    z-index: 100;

    &__active {
      background: #ea1d63;

      &::after {
        content: "<";
        position: absolute;
        width: 100%;
        height: 100%;
        line-height: 40px;
        font-size: 40px;
        color: white;
        text-align: center;
      }
    }

    &::before {
      content: ">";
      position: absolute;
      width: 100%;
      height: 100%;
      line-height: 40px;
      font-size: 40px;
      color: white;
      text-align: center;
    }
  }

  &__navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 65px;
    bottom: 0;
    background-color: #232f3e;
    overflow: hidden;
    transition: 0.5s;

    &:hover {
      width: 300px;
    }

    &__options {
      position: absolute;
      top: 50px;
      left: 0;
      width: 100%;

      &__list {
        position: relative;
        width: 100%;
        list-style: none;
        margin: 15px 0;

        &__links {
          position: relative;
          width: 100%;
          display: flex;
          align-items: center;

          text-decoration: none;
          color: white;

          &:hover {
            background: whitesmoke;
            color: black;
          }

          &__icon {
            position: relative;
            display: block;
            max-width: 60px;
            line-height: 60px;
            text-align: center;
          }

          &__text {
            padding: 0 0 0 10px;
            text-align: center;
          }
        }
        &__innerOptions__list__links {
          display: flex;
          align-items: center;
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .sidebar__navbar {
    left: -60px;
    &__active {
      left: 0px;
      width: 100%;
    }
  }
}
