.orderDetail {
  min-width: var(--min-width);
  &__container {
    display: flex;
    flex-direction: column;

    &__title {
      font-size: 60px;
    }

    &__info {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 0 25px;
      align-items: center;
    }

    &__details {
      display: flex;
      flex-direction: column;
      padding: 20px;
    }
  }
}
