.profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  // border: 2px solid red;
  min-width: 300px;

  &__title {
    font-size: 5rem;
    text-decoration: underline;
    margin-bottom: 50px;
  }

  &__container {
    justify-content: center;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__links {
      text-decoration: none;
      color: whitesmoke;
      font-weight: bold;
      border-radius: 4px;
      padding: 5px;
      background-color: #fda12a;
      display: flex;
      width: 80%;
      min-width: 200px;
      margin-top: 20px;
      justify-content: center;

      &:hover {
        text-decoration: underline;
      }
    }

    &__avatar {
      // border: 2px solid red;
      display: flex;
      flex-direction: column;
      align-items: center;

      width: 20%;

      &__figure {
        &__photo {
          width: 250px;
          height: 250px;
          border-radius: 250px;
        }
      }
    }

    &__details {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 50%;

      &__changePassword {
        background-color: red;
      }
    }
  }
}

@media (max-width: 800px) {
  .profile {
    &__container {
      flex-direction: column;
    }
  }
}
